@model LucasVaz.Models.Contato

@{
    ViewData["Title"] = "Editar Contato";
}
<html>
<body>
    <h1 class="display-4">Editar Contato</h1>
    <div style="display: flex; height: 100vh; align-items: center; justify-content: center;">
        <div class="cardgeral" style="width: 80%; max-width: 1000px;">
            <div class="card-body">
                <form asp-action="Edit" method="post">
                    <input type="hidden" asp-for="IdContato" />

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="DsContato"><i class="fas fa-address-book"></i> Descrição do Contato:</label>
                            <input asp-for="DsContato" class="form-control" />
                            <span asp-validation-for="DsContato" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="TipoContato.IdTipoContato"><i class="fas fa-id-card"></i> ID do Tipo de Contato:</label>
                            <input asp-for="TipoContato.IdTipoContato" type="number" class="form-control" />
                            <span asp-validation-for="TipoContato.IdTipoContato" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mt-4 pb-4 text-center">
                        <button type="submit" class="transparent-button"><i class="fas fa-save"></i> Salvar Alterações</button>
                        <a asp-action="Index" class="transparent-button"><i class="fas fa-arrow-left"></i> Cancelar</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>
</html>
