@model List<Contato>

@{
    ViewData["Title"] = "Contato";
}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div>
        <h1 class="display-4 text-center mb-5">Contato</h1>
        <div class="text-center mb-5">
            @foreach (var contato in Model)
            {
                if (contato?.TipoContato?.DsTipoContato != null)
                {
                    string link = "", iconClass = "", altText = "";
                    switch (contato.TipoContato.DsTipoContato.ToLower())
                    {
                        case "telefone":
                            link = $"tel:{contato.DsContato}";
                            iconClass = "fas fa-phone-alt";
                            altText = "Telefone";
                            break;
                        case "email":
                            link = $"mailto:{contato.DsContato}";
                            iconClass = "fas fa-envelope";
                            altText = "E-mail";
                            break;
                        case "whatsapp":
                            link = contato.DsContato;
                            iconClass = "fab fa-whatsapp";
                            altText = "WhatsApp";
                            break;
                        case "linkedin":
                            link = contato.DsContato;
                            iconClass = "fab fa-linkedin";
                            altText = "LinkedIn";
                            break;
                    }

                    <a href="@link" class="icon-link m-3">
                        <i class="@iconClass" style="font-size: 24px;"></i>
                        <span class="sr-only">@altText</span>
                    </a>
                }
            }
        </div>
        <div class="container mt-3 text-center" style="width:70vh;">
            <div class="cardgeral">
            <form style="margin:20px; margin-top:20px; margin-bottom:20px;" target="_blank" action="https://formsubmit.co/contato@lucasvaz.dev.br" method="POST">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col">
                            <input type="hidden" name="_next" value="https://lucasvaz.dev.br/contato">
                            <input type="hidden" name="_subject" value="Novo email de contato vindo do seu Site!">
                            <input type="hidden" name="_captcha" value="false">
                            <input type="hidden" name="_template" value="table">
                            <input type="text" name="name" class="form-control form-control-lg bg-transparent" placeholder="Nome" required style="border-color: black; color: black;">
                        </div>
                        <div class="col">
                            <input type="email" name="email" class="form-control form-control-lg bg-transparent" placeholder="Email" required style="border-color: black; color: black;">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea placeholder="Mensagem" class="form-control form-control-lg bg-transparent" name="message" rows="10" required style="border-color: black; color: black;"></textarea>
                </div>
                    <button type="submit" class="transparent-button text-center">
                        Enviar <i class="fas fa-envelope"></i>
                    </button>

            </form>
            </div>
        </div>

    </div>
</body>
</html>
