<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lucas Vaz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LucasVaz.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Sanchez&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sono&display=swap" rel="stylesheet">
</head>
<body>
    <div class="d-flex">
        <nav id="sidebar" class="navbar navbar-dark box-shadow mb-3">
            <div class="container-fluid flex-column">
                <ul class="navbar-nav flex-grow-1 flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/home.png" class="icon"> <span class="nav-text">Inicio</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex align-items-center" asp-area="" asp-controller="SobreMim" asp-action="Index">
                            <img src="~/sobre.png" class="icon"> <span class="nav-text">Sobre Mim</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex align-items-center" asp-area="" asp-controller="Experiencia" asp-action="Index">
                            <img src="~/experiencia.png" class="icon"> <span class="nav-text">Experiencia</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex align-items-center" asp-area="" asp-controller="Projeto" asp-action="Index">
                            <img src="~/projetos.png" class="icon"> <span class="nav-text">Projetos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex align-items-center" asp-area="" asp-controller="Habilidade" asp-action="Index">
                            <img src="~/habilidade.png" class="icon"> <span class="nav-text">Skills</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex align-items-center" asp-area="" asp-controller="Estudo" asp-action="Index">
                            <img src="~/estudos.png" class="icon"> <span class="nav-text">Estudos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex align-items-center" asp-area="" asp-controller="Contato" asp-action="Index">
                            <img src="~/contato.png" class="icon"> <span class="nav-text">Contato</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark d-flex align-items-center" asp-area="" asp-controller="Privacidade" asp-action="Index">
                            <img src="~/lock.png" class="icon"> <span class="nav-text">Privacidade</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container  flex-grow-1">
            <main role="main" class="pb-3" style="margin-bottom: 50px;">

                @RenderBody()
            </main>
        </div>

        <footer class="footer text-muted text-center" style="display: inline-block;">

            <div class="container">
                &copy; 2023 - Desenvolvido por Lucas Vaz - <a asp-area="" asp-controller="Home" asp-action="Privacy">Politica de Privacidade</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
