<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lucas Vaz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/SiteL.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LucasVaz.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Sanchez&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sono&display=swap" rel="stylesheet">
</head>
<body>
    <div class="d-flex">
        <div class="container flex-grow-1 mb-5">
            <main role="main" class="pb-3">
                @if (Context.User.Identity.IsAuthenticated)
                {
                    <div class="sidebar">
                        <ul class="menu">
                            <li title="Sobre Mim"><a class="sobre" asp-area="" asp-controller="EditarPessoa" asp-action="Index"></a></li>
                            <li title="Experiencia"><a class="experiencia" asp-area="" asp-controller="EditarExperiencia" asp-action="Index"></a></li>
                            <li title="Projetos"><a class="projetos" asp-area="" asp-controller="EditarProjeto" asp-action="Index"></a></li>
                            <li title="Skills"><a class="habilidade" asp-area="" asp-controller="EditarTecnologia" asp-action="Index"></a></li>
                            <li title="Estudos"><a class="estudos" asp-area="" asp-controller="EditarEstudo" asp-action="Index"></a></li>
                            <li title="Contato"><a class="contato" asp-area="" asp-controller="EditarContato" asp-action="Index"></a></li>
                            <li title="Privacidade"><a class="privacidade" asp-area="" asp-controller="EditarPrivacidade" asp-action="Index"></a></li>
                            <li title="Logout">
                                <a href="#" class="logout" onclick="document.getElementById('logoutForm').submit();"></a>
                                <form id="logoutForm" asp-controller="Login" asp-action="Logout" method="post" class="d-none">
                                </form>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <nav class="navbar navbar-expand-lg navbar-light" style="justify-content:center">
                         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                            <ul class="navbar-nav">
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="SobreMim" asp-action="Index">Sobre Mim</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Experiencia" asp-action="Index">Experiência</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Projeto" asp-action="Index">Projetos</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Habilidade" asp-action="Index">Skills</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Estudo" asp-action="Index">Estudos</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Contato" asp-action="Index">Contato</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Privacidade" asp-action="Index">Privacidade</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Login" asp-action="Home">Login</a></li>
                            </ul>
                    </nav>
                }
                @RenderBody()
            </main>
        </div>

        <footer class="footer text-muted text-center mt-4" style="display: inline-block;">

            <div class="container">
                &copy; 2023 - Desenvolvido por Lucas Vaz - <a asp-area="" asp-controller="Privacidade" asp-action="Index">Politica de Privacidade</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
