<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lucas Vaz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/SiteL.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LucasVaz.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Muli&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        <div>
            <div class="list-group list-group-flush">
                @if (Context.User.Identity.IsAuthenticated)
                {
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Inicio</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Experiencia" asp-action="Index"><i class="fa fa-briefcase"></i> Experiencia</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Projeto" asp-action="Index"><i class="fa fa-project-diagram"></i> Projetos</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Habilidade" asp-action="Index"><i class="fa fa-cogs"></i> Habilidades</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Estudo" asp-action="Index"><i class="fa fa-book"></i> Estudo</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Contato" asp-action="Index"><i class="fa fa-envelope"></i> Contato</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Privacidade" asp-action="Index"><i class="fa fa-shield-alt"></i> Privacidade</a></li>

                                <!-- Dropdown de Edição -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="editDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-edit"></i> Editar
                                    </a>
                                    <div class="dropdown-menu  transparent-button" style="background-color:transparent" aria-labelledby="editDropdown">
                                        <a class="dropdown-item  transparent-button" asp-area="" asp-controller="EditarPessoa" asp-action="Index"><i class="fa fa-user-edit"></i> Sobre Mim</a>
                                        <a class="dropdown-item  transparent-button" asp-area="" asp-controller="EditarExperiencia" asp-action="Index"><i class="fa fa-briefcase"></i> Experiência</a>
                                        <a class="dropdown-item  transparent-button" asp-area="" asp-controller="EditarProjeto" asp-action="Index"><i class="fa fa-project-diagram"></i> Projetos</a>
                                        <a class="dropdown-item  transparent-button" asp-area="" asp-controller="EditarTecnologia" asp-action="Index"><i class="fa fa-cogs"></i> Skills</a>
                                        <a class="dropdown-item  transparent-button" asp-area="" asp-controller="EditarEstudo" asp-action="Index"><i class="fa fa-book"></i> Estudos</a>
                                        <a class="dropdown-item  transparent-button" asp-area="" asp-controller="EditarContato" asp-action="Index"><i class="fa fa-envelope"></i> Contato</a>
                                        <a class="dropdown-item  transparent-button" asp-area="" asp-controller="EditarPrivacidade" asp-action="Index"><i class="fa fa-shield-alt"></i> Privacidade</a>
                                    </div>
                                </li>
                                <!-- Logout -->
                                <li class="nav-item"><a class="nav-link" href="#" onclick="document.getElementById('logoutForm').submit();"><i class="fa fa-sign-out-alt"></i> Logout</a></li>
                            </ul>
                            <form id="logoutForm" asp-controller="Login" asp-action="Logout" method="post" class="d-none"></form>
                        </div>
                    </nav>

                }
                else
                {
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Inicio</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Experiencia" asp-action="Index"><i class="fa fa-briefcase"></i> Experiencia</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Projeto" asp-action="Index"><i class="fa fa-project-diagram"></i> Projetos</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Habilidade" asp-action="Index"><i class="fa fa-cogs"></i> Habilidades</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Estudo" asp-action="Index"><i class="fa fa-book"></i> Estudo</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Contato" asp-action="Index"><i class="fa fa-envelope"></i> Contato</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Privacidade" asp-action="Index"><i class="fa fa-shield-alt"></i> Privacidade</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Login" asp-action="Home"><i class="fa fa-sign-in-alt"></i> Login</a></li>
                            </ul>
                        </div>
                    </nav>
              
                }

            </div>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid" style="padding-bottom:50px">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <footer class="footer text-muted text-center mt-4">
                <div class="container">
                    &copy; 2023 - Desenvolvido por Lucas Vaz - <a asp-area="" asp-controller="Privacidade" asp-action="Index">Politica de Privacidade</a>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
