@model LucasVaz.Models.Pessoa

@{
    ViewData["Title"] = "Sobre Mim";
}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
</head>
<body>

        <h1 style="margin-top:50px">Sobre Mim</h1>
    <p style="margin-top:50px">@Model.DsSobreMim</p>
        <div id="button-container" style="display: flex; justify-content: center; align-items: center;">
            <a asp-controller="Experiencia" asp-action="Index" class="transparent-button">Vamos Continuar</a>
            </div>
</body>
</html>
