@{
    ViewData["Title"] = "Estudo";
}
<head>
    <meta charset="UTF-8">
</head>
<html>
<body>
    <div id="estrelas">
        <h1 class="display-4">Estudo</h1>

        <div id="button-container" style="display: flex; margin-top:50px; justify-content: center; align-items: center;">
            <a asp-controller="Contato" asp-action="Index" class="transparent-button">Entre em contato</a>
        </div>
    </div>

</body>
</html>
