@model LucasVaz.Models.Projeto

@{
    var successMessage = TempData["SuccessMessage"] as string;
    var errorMessage = TempData["ErrorMessage"] as string;
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success">
        @successMessage
    </div>
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}


<h1>Editar Projeto</h1>

<a asp-controller="EditarProjeto" asp-action="GerenciarTecnologias" asp-route-idProjeto="@Model.IdProjeto" class="transparent-button">Ajustar Tecnologias</a>
<form asp-action="Edit" method="post" class="custom-form">
    <input type="hidden" asp-for="IdProjeto" />

    <div class="form-group">
        <label asp-for="DsProjeto">Descrição do Projeto:</label>
        <input asp-for="DsProjeto" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="CmProjeto">Comentário:</label>
        <textarea asp-for="CmProjeto" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="LkGithub">Link Github:</label>
        <input asp-for="LkGithub" class="form-control" />
    </div>


    <div class="form-group">
        <label asp-for="LkWeb">Link do Site:</label>
        <input asp-for="LkWeb" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="DsLoginTeste">Login de Teste:</label>
        <input asp-for="DsLoginTeste" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="DsSenhaTeste">Senha de Teste:</label>
        <input asp-for="DsSenhaTeste" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TipoProjeto.IdTipoProjeto">ID do Tipo do Projeto:</label>
        <input asp-for="TipoProjeto.IdTipoProjeto" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="NrOrdem">Ordem Exibição:</label>
        <input asp-for="NrOrdem" class="form-control" />
    </div>

    <button type="submit" class="transparent-button">Salvar Alterações</button>
    <a asp-action="Index" class="transparent-button">Cancelar</a>
</form>
