@model LucasVaz.Models.Projeto
@TempData["Message"]



<h1>Inserir Projeto</h1>
<form asp-action="InserirProjeto" method="post" class="custom-form">

    <div class="form-group">
        <label for="DsProjeto">Descrição do Projeto:</label>
        <input type="text" class="form-control" id="DsProjeto" name="DsProjeto" required />
    </div>

    <div class="form-group">
        <label for="CmProjeto">Comentário sobre o Projeto:</label>
        <textarea class="form-control" id="CmProjeto" name="CmProjeto" required></textarea>
    </div>

    <div class="form-group">
        <label for="LkGithub">Link do Github:</label>
        <input type="url" class="form-control" id="LkGithub" name="LkGithub" />
    </div>

    <div class="form-group">
        <label for="LkWeb">Link do Site:</label>
        <input type="url" class="form-control" id="LkWeb" name="LkWeb" />
    </div>

    <div class="form-group">
        <label for="DsLoginTeste">Login de Teste:</label>
        <input type="text" class="form-control" id="DsLoginTeste" name="DsLoginTeste" />
    </div>

    <div class="form-group">
        <label for="DsSenhaTeste">Senha de Teste:</label>
        <input type="password" class="form-control" id="DsSenhaTeste" name="DsSenhaTeste" />
    </div>

    <div class="form-group">
        <label for="TipoProjeto.IdTipoProjeto">ID do Tipo do Projeto:</label>
        <input type="number" class="form-control" id="TipoProjeto.IdTipoProjeto" name="TipoProjeto.IdTipoProjeto" required />
    </div>
    <div class="form-group">
        <label for="NrOrdem">Ordem Exibição:</label>
        <input type="number" class="form-control" id="NrOrdem" name="NrOrdem" required />
    </div>
    <div class="d-flex justify-content-between">
        <input type="submit" value="Inserir Projeto" class="btn transparent-button" />
        <a asp-action="Index" class="btn transparent-button">Cancelar</a>
    </div>

</form>

