@using LucasVaz.Models
@model List<Tecnologia>


@{
    ViewData["Title"] = "Habilidades";
}

<head>
    <meta charset="UTF-8">
    <style>
        .centralizar {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }


    </style>
</head>
<html>
<body>
    <div class="centralizar">
        <h1 class="display-4">Habilidades</h1>
        <div style="height: 650px; width: 60%;">
            <canvas id="skillsChart" style="height:100%;"></canvas>
        </div>
        <div id="button-container" style="display: flex; margin-top:50px; margin-bottom:50px; justify-content: center; align-items: center;">
            <a asp-controller="Estudo" asp-action="Index" class="transparent-button">
                <i class="fa fa-book"></i> Conheça minha formação
            </a>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('skillsChart').getContext('2d');

            var data = {
                labels: @Html.Raw(Json.Serialize(Model.Select(t => t.DsTecnologia).ToList())),
                datasets: [{
                    label: 'Nível de habilidade',
                    data: @Html.Raw(Json.Serialize(Model.Select(t => t.QtHabilidade).ToList())),
                    borderColor: '#34495E',
                    backgroundColor: 'rgba(52, 73, 94, 0.5)',

                    borderWidth: 2,
                }]
            };

            var config = {
                type: 'bar',
                data: data,
                options: {
                    maintainAspectRatio: false,
                    indexAxis: 'y',
                    elements: {
                        bar: {
                            borderWidth: 2,
                            borderRadius: 10  
                        }
                    },
                    scales: {
                        x: {
                            grid: {
                                display: false
                            },
                            ticks: {
                                beginAtZero: true,
                                suggestedMax: 10,
                                fontColor: "#333"
                            }
                        },
                        y: {
                            grid: {
                                display: false
                            },
                            ticks: {
                                fontColor: "#000000"
                            }
                        }
                    }
                }
            };

            new Chart(ctx, config);
        });
    </script>
</body>
</html>
