@model LucasVaz.Models.Privacidade

@{
    ViewData["Title"] = "Criar Privacidade";
}
<html>
<body>
    <h1 class="display-4">Inserir Privacidade</h1>
    <div style="display: flex; height: 100vh; align-items: center; justify-content: center;">
        <div class="cardgeral" style="width: 80%; max-width: 1000px;">
            <div class="card-body">
                <form asp-action="Create" method="post">

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="DsTitulo"><i class="fas fa-heading"></i> Título:</label>
                            <input asp-for="DsTitulo" class="form-control" />
                            <span asp-validation-for="DsTitulo" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="NrOrdemListagem"><i class="fas fa-sort-numeric-up"></i> Ordem de Listagem:</label>
                            <input asp-for="NrOrdemListagem" type="number" class="form-control" />
                            <span asp-validation-for="NrOrdemListagem" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label asp-for="DsTexto"><i class="fas fa-align-left"></i> Texto:</label>
                            <textarea asp-for="DsTexto" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="DsTexto" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mt-4 pb-4 text-center">
                        <button type="submit" class="transparent-button"><i class="fas fa-plus"></i> Criar</button>
                        <a asp-action="Index" class="transparent-button"><i class="fas fa-arrow-left"></i> Cancelar</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>
</html>
