@model List<LucasVaz.Models.Privacidade>

<html>
<body>
    <div class="container mt-4">
        <h1>Politica de Privacidade</h1>
        <div>
            <a asp-action="Create" asp-controller="EditarPrivacidade" class="transparent-button mb-3 mt-4">
                <i class="fas fa-plus"></i>Inserir Nova Privacidade
            </a>
            <div class="table-responsive mt-4">
                <table class="table" style="color:black;  border-color:black;">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Atualizada em</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var privacidade in Model)
                        {
                            <tr>
                                <td>@privacidade.DsTitulo</td>
                                <td>@privacidade.DsTexto</td>
                                <td>@privacidade.DtPrivacidade.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@privacidade.IdPrivacidade" class="transparent-button">
                                        <i class="fas fa-pencil-alt"></i> Editar
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="mt-4 pb-4" id="button-container" style="width:65vh">
                <a asp-controller="Login" asp-action="Home" class="transparent-button">
                    <i class="fas fa-arrow-left"></i> Voltar
                </a>

            </div>
        </div>
    </div>
</body>
</html>
