@model IEnumerable<Privacidade>


@{
    ViewData["Title"] = "Politica de Privacidade";
}
<html>
<body>

    <div id="estrelas">
        <h1 class="display-4">Política de Privacidade</h1>
        <p>Última atualização: @(Model.Any() ? Model.Last().DtPrivacidade.ToString("dd/MM/yyyy") : "Não disponível")</p>
@foreach (var item in Model)
{
    <h2>@item.DsTitulo</h2>
    <p>@item.DsTexto</p>
}
</div>
</body>
</html>
