
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>

    </style>
</head>
<body>
    <div class="container mt-5">

        <h1 class="text-center mb-4">Painel de Controle</h1>

        <div class="row">
            <!-- Card de Acessos -->
            <div class="col-md-4">
                <div class="cardgeral text-center">
                    <div class="card-body">
                        <h2 class="card-title">10.345</h2>
                        <p class="card-text">Acessos Totais</p>
                    </div>
                </div>
            </div>

            <!-- Card de Usuários Online -->
            <div class="col-md-4">
                <div class="cardgeral text-center">
                    <div class="card-body">
                        <h2 class="card-title">57</h2>
                        <p class="card-text">Usuários Online</p>
                    </div>
                </div>
            </div>

            <!-- Card de Páginas Mais Visitadas -->
            <div class="col-md-4">
                <div class="cardgeral text-center">
                    <div class="card-body">
                        <h2 class="card-title">3.210</h2>
                        <p class="card-text">Página "Sobre" Acessada</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>
