@model LucasVaz.Models.Pessoa

@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="UTF-8">
</head>
<html>
<body>
<h1 style="max-width: 480px; margin: auto; margin-top:200px;">@Model.DsInicio</h1>
<div id="button-container" style="display: flex; justify-content: center; align-items: center;">
    <a asp-controller="SobreMim" asp-action="Index" class="transparent-button">Vamos Lá</a>
</div>
@for (int i = 0; i < 300; i++)
{
    <div class="estrela" style="top: @(new Random().Next(0, 100))vh; left: @(new Random().Next(0, 100))vw; animation-delay: @(new Random().Next(1, 100))s;"></div>
}
</body>
</html>
