@model LucasVaz.Models.Pessoa

@{
    ViewData["Title"] = "Inicio";
}

<html>
<head>
    <meta charset="UTF-8">
    <style>
        body, html {
            margin: 0;
            padding: 0;
            font-family: 'Nunito', sans-serif;
        }

        #content-container, #sobremim {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        h1 {
            height: 30vh;
        }

    </style>
</head>
<body>
    <div id="content-container">
        <h1 id="type">@Model.DsInicio</h1>
        <div id="button-container" style="opacity:0;">
            <button class="transparent-button" onclick="startTyping('#sobremim h1#type'); scrollParaBaixo();">
                Vamos Continuar <i class="fas fa-arrow-down"></i>
            </button>
        </div>
    </div>
    <div id="sobremim">
        <h1 id="type" style="width:90%; visibility: hidden;">@Model.DsSobreMim</h1>
        <div id="button-containersobre" style="margin-top:50px; opacity:0;">
            <a asp-controller="Experiencia" asp-action="Index" class="transparent-button">
                Ver Experiências  <i class="fas fa-arrow-right"></i>
            </a>

        </div>
    </div>
    <button id="backToTop" onclick="goToTop()" style="display: none; position: fixed; bottom: 10px; right: 10px; z-index: 1000;">
        <i class="fas fa-arrow-up"></i>
    </button>
    <script>
        setTimeout(function () {
            document.getElementById("button-container").style.opacity = "1";
        }, 9000);


        function scrollParaBaixo() {
            var secao = document.getElementById("sobremim");
            secao.scrollIntoView({ behavior: 'smooth' });
        }
    </script>
</body>
</html>
