@model LucasVaz.Models.Pessoa

@{
    ViewData["Title"] = "Inicio";
}
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>

        <div id="content-container">
            <h1>@Model.DsInicio</h1>
            <div id="button-container" style="opacity:0; width:65vh">
                <a asp-controller="SobreMim" asp-action="Index" class="transparent-button">Vamos Lá</a>
            </div>
        </div>

    <script>
        setTimeout(function () {
            document.getElementById("button-container").style.opacity = "1";
        }, 13000);
    </script>
</body>
</html>