html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        color: black;
    }
}


body {
    color: black;
    background: url('/img/banner.jpg');
    }

h1 {
    text-align: center;
    font-family: 'Sanchez', serif;
}

p {
    font-size: 16px;
    text-align: left;
    margin: 10px 0;
    padding-left: 20px;
    font-family: 'Sono';
}
h2 {
    font-size: 15px;
    text-align: left;
    margin: 20px;
}


.transparent-button {
    background-color: transparent;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

    .transparent-button:hover {
        background-color: rgba(0, 0, 0, 0.1);
        color: black;
    }

.cardgeral {
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    color: black;
    flex: 1;
}


#content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    max-width: 600px;
    margin: 0 auto;
    height: 90vh;
    text-align: center;
}

    #content-container h1 {
        font-size: 2.5em;
    }

@media screen and (max-width: 768px) {
    #content-container h1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 480px) {
    #content-container h1 {
        font-size: 1.5em;
    }
}

.custom-pagination {
    justify-content: center; /* centraliza o conteúdo */
    text-align: center;
}

    .custom-pagination .pagination li a, .custom-pagination .pagination li span {
        margin: 0 5px; /* adiciona um pequeno espaço entre os itens de paginação */
        border-radius: 5px; /* adiciona bordas arredondadas aos itens */
        transition: background-color 0.2s; /* transição suave para hover */
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;

    }

        .custom-pagination .pagination li a:hover {
            background-color: #C6DEFF;
            color: white;
        }

.pagination {
    justify-content: center;

}

    .pagination li span {
        border: 1px solid black;
    }


*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: #A193CA;
    border-radius: 3px;
}

@media (max-width: 767.98px) {
    .navbar-collapse {
        position: absolute;
        top: 50px; 
        width: 100%;
        background-color: rgba(128, 128, 128, 0.1);
        z-index: 1000; 
    }
}
