<html>

    <head>


    </head>

    <body>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <div class="cardgeral border-0 shadow">
                    <div class="card-body">
                        <i class="fas fa-exclamation-triangle fa-5x text-warning mb-4"></i>
                        <h2>Detalhes não encontrados</h2>
                        <p class="lead">Infelizmente, não temos mais informações sobre este projeto no momento. Volte mais tarde para mais detalhes!</p>
                        <hr>
                        <a href="javascript:history.back()" class="btn btn-outline-secondary">
                            <i class="fas fa-arrow-left"></i> Voltar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </body>
</html>